<% @names = {'musically' => 'Music Ally', 'cmu' => 'Complete Music Update', 'rollingstone' => 'Rolling Stone', 'musicbusinessworldwide' => 'Music Business Worldwide', 'wired' => 'WIRED', 'mit' => 'MIT Technology Review'} %>

<!--  <tr height="10"></tr> -->
 <tr style="border-top:2px slategray solid;background-color:rgba(255,255,255,0.75);">

      <th style='vertical-align:middle;text-align:center;' >
        <%= image_tag ABSOLUTE_LOGO_URLS[@story.source], height: '45', width: '80', style: @style['logo']  %>
      </th>

      <td style='font-size:1.25em;text-align:center;'><strong><%=@names[@story.source].upcase %></strong></td>
             <td></td>
      

 </tr>