
 <tr height="10"></tr>
 <tr style="border-top:2px slategray solid;background-color:rgba(255,255,255,0.75);">

 	 
     
   <!--     <td></td> -->
      
        <td style='vertical-align:middle;' >
        <%= image_tag ABSOLUTE_LOGO_URLS['betalist'], height: '50', width: '100', style: @style['logo']  %>
      </td>
        <td style='font-size:1.5em;text-align:center;'><strong>STARTUPS</strong></td>
    
 </tr>