<%= render "partials/nav" %>
<article>
	<%# render "partials/source_sidebar" %>
	<section class="container" style='width:100%;'>

		<div class="startuppage" id="music">
				<!-- <%# render "partials/imagewall" %> -->
				<%= render "partials/startups" %>
		</div>

	</section>
</article>