
<% @sources.each do |s| %>
	<div class="<%= [s[0].source, ('source_' + s[0].area)].join(' ') %>">
		<table>
			<%= render 'partials/source_heading', mystory:s  %>

			<tbody>
				<%= render 'partials/source_headlines', mystory:s  %>
			</tbody>
		</table>
	</div>
<% end %>
