 <% @logos = {'musically' => 'music_ally.png', 'cmu' => 'completemusicupdate.jpg', 'rollingstone' => 'rollingstone.png', 'musicbusinessworldwide' => 'musicbusinessworldwide.jpg', 'wired' => 'wired.png', 'venturebeat' => 'venturebeat.jpeg', 'mit' => 'mit.png'} %>
 <% item = mystory[0].source %>


<thead>
	<th>
	<%= image_tag(@logos[item], width: '250') %>
	<!-- <span class='square'></span> -->
	<%# item.upcase %>
	</th>
</thead>

