<article id='SIGNUP'>
	<%# render "partials/source_sidebar" %>
	<section>
		<div class='mailer'>
		<%= render 'partials/mailer/mailing_list_form' %>
		<a type='button' href='/mailer/preview_welcome' target="_blank">Click here to see last week's mailout</a>
		</div>
	</section>
</article>
