
<article id='LATEST'>
	<section>

		<div class="all_by_date desktop down" id="music">
				<%= render "partials/latest/allstories" %>
		</div>

		<div class="all_by_date tablet down" >
				<%= render "partials/latest/allstories_tablet" %>
		</div>

		<div class="all_by_date mobile down" >
				<%= render "partials/latest/allstories_mobile" %>
		</div>

	</section>
</article>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->






