
<article id='LATEST'>
	<section class="container">

		<div class="all_by_date desktop down" id="music">
				<%= render "partials/allstories" %>
		</div>
		<div class="all_by_date mobile down" >
				<%= render "partials/allstories_mobile" %>
		</div>

	</section>
</article>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->






