
<article id='MUSIC'>
	<%# render "partials/source_sidebar" %>
	<section>


	<!-- 	<div class="top_stories down" id="music">
				<%# render "partials/wordtags" %>
				<%# render "partials/top_stories" %>
		</div> -->

		<div class="by_source down">
				<%= render "partials/bysource" %>
		</div>

	</section>
</article>
