<% puts "LENGTH: #{@sources.size}" %>
<% s = @sources[0] %>
<% puts "OBJECT: #{s}" %>
<% puts "OBJLENGTH: #{s.length}" %>
<% puts "CLASS: #{s.class}" %>
<% puts "ITEM: #{s[0]}" %>
<% puts "ITEMCLASS: #{s[0].class}" %>
<% puts "ITEM SOURCE: #{s[0].source}" %>

<% @sources.each do |s| %>

	<% source,area = s[0].source,s[0].area %>
	<div class="<%= [source, area].join(' ') %>">
		<table>
			<%= render 'partials/music/source_heading', mystory:s  %>

			<tbody>
				<%= render 'partials/music/source_headlines', mystory:s  %>
			</tbody>
		</table>
	</div>
<% end %>
