
<% @sources.each do |s| %>
	<% unless s.empty? %>
		<% source,area = s[0].source,s[0].area %>
		<div class="<%= [source, area].join(' ') %>">
			<table>
				<%= render 'partials/music/source_heading', mystory:s  %>

				<tbody>
					<%= render 'partials/music/source_headlines', mystory:s  %>
				</tbody>
			</table>
		</div>
	<% end %>
<% end %>
