@import url('//fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('//fonts.googleapis.com/css?family=Lora:400,700');

html, body {
	font-family: 'Oxygen', sans-serif;
	background-color: #ecf0f1;
	width: 100%;
}

nav {
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	left: 1%;
	display: inline;
	position: fixed;
	color: #2c3e50;
	text-align: center;
	line-height: 2em;
	background-color: white;
	z-index: 50;
/*	float: left;*/
}

#duck {
	background-image: url('duck2.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;	
	min-height: 30px;
	min-width: 30px;
	height: 30px;
	float: right;
	margin: 10px 50px 0 0;
}

nav h1 {
	font-family: 'Lily Script One', sans-serif;
	font-size: 32px;
	color: rgba(0,0,0,0.5);
	float: left;
	margin-left: 20px;
}

nav h1.h1-l {
	text-align: left;
}
nav h1.h1-r {
	text-align: right;
}

nav h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
/*	padding: 20px 0 10px 5px;*/
}

/*
nav h4 {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	padding: 20px 0 10px 15px;
	text-align: center;
}*/

nav button, h1 {
	border: none;
/*  	background-repeat:no-repeat;
  	background-size: 100% 100%;*/
  	/*width: 30%;*/
  	/*line-height: 1.5;*/
  	background-color: transparent;
  	margin: 5px 0 5px 5px;
  	display: inline;
  	cursor: pointer;
}

nav button {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	width: 120px;
	font-weight: 700;
	cursor: pointer;
	padding: 0;
	color: gray;
	margin-top: 15px;
}

nav button.active {
	background-color: red;
	color: white;
}

nav button:hover {
	background-color: gold;

}

nav button.tags {
	display: none;
}

.story_info {

	top: 30%;
 	width: 160px;
 	position: fixed;
  	/*line-height: 1.5;*/

  	margin: 5px 0 5px 5px;
  	display: inline-block;
	left: 0;
	color: rgba(0,0,0,0.5);
	font-family: 'Oxygen', sans-serif;
	padding-left: 2%;
	display: none;
}

a:visited {
  color:inherit;
  text-decoration: none;
 }

/*.storyinfo img {
	z-index: 20;
	padding-top: 50px;
	visibility: hidden;
}*/


div#mydate, div#mysource {
	font-size: 18px;
/*	width: 100%;*/
}

img#logo {
/*	width: 5em;
	height: 3em;*/
	text-align: center;
	/*max-width: 100%;*/
}

.down {
	padding-top: 60px;
/*	left: 100px;*/
	position: absolute;
}

#keyword_div {
	margin-right: 2%;
}

#keyword_tags {
	margin: 0 1px 0 1px;
}

#keyword_tags:hover {
	background-color: gold;
	cursor: pointer;
} 

#keyword_tags.active {
	background-color: pink;
}

/*.container {
	top: 10%;
	width: 200%;
	margin-top: 20%;
}*/

.container h1 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	line-height: 1.5;
}

/*.top {
	width: 100%;
	position: fixed;
	left: 30%;

	display: inline-block;
/*	height: 50px;*/
	/*line-height: 5;*/


#mydate h2, #mysource h2{
	color: #2c3e50;
	line-height: 1.5;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

/*.mainpic {
	float:left;
	padding-right: 5%;
	width: 97%;
	height: 200px;
	position: fixed;
	display: inline-block;
	overflow: hidden;
}*/

.mainpic {
	width: 80%;
	margin-right: 20%;
	height: auto;
	overflow-x: hidden;
}

.picdiv {
	max-width:100px;
	max-height:50px;
	float: left;
	display: inline;
	
}

.mainpic img {
	margin-left: 5px;
	/*height: 100px;*/
	/*width: 100px;*/
	opacity: 0.75;
	max-width: 100%;
    height: 80px;
    width: auto\9;
}

.mainpic a {
	height: 80px;
	min-height: 100px;
	display: inline-block;
}


/*
.top_stories {
	margin-top: 1%;	
}*/

#keyword_tags {
	margin: 0 2px 0 2px;
}

.top_half {
	position: fixed;
	z-index: 5;
	background-color: #ecf0f1;
	border-bottom: 2px white dashed;
	max-height: 35%;
	overflow: hidden;
}

.content {
	/*top: 40%;*/
	float: left;
	/*position: fixed;*/
	overflow-y: scroll;
	height: 65%;
	border-top: 2px dashed white;
}

table {
	text-align: left;
	font-size: 18px;
}

thead td {
	padding-left: 10px;
	display: inline-block;
}

thead th {
	font-family: 'Oxygen', sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
}

tbody a, a:visited {
	font-family: 'Oxygen', sans-serif;
	padding-top: 2px;
	/*line-height: 1.5;*/
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

tbody td {
	font-family: 'Oxygen', sans-serif;
	padding: 2px 10px 0 0;
	line-height: 1.5;
	display: none;
}

tbody span img {
	display: none;
}

tbody th {
	padding-left: 10px;
	line-height: 1.35;
}


span #date {
	display: none;
	line-height: inherit;
	font-size: 28px;
}

tbody th span#id {
	display: none;
}

span .on, .on li {
	display: inline-block;
}

.intext, .source, .all_source, .pic_url {
	/*display: none;*/
}

.all_by_a_to_z {
	display: inline;
}


.all_by_date {
	display: none;
}


.all_by_date h2 {
	display: inline;
}

.source span {
	display: inline-block;
}

.tag {
	font-size: 10px;
	display: none;
}

.square {
	display: inline-block;
	height: 20px;
    width: 20px;
    top: 1%;
}

img.hovered {
	opacity: 1;
}


.musically tr {
    /*border-bottom: 2px solid slategray;*/
}

.musically ul li span {
    color: slategray;
}

.musically .square,
    /*button#mondomix, */
.musically a:hover, .musically a.hovered {
    background-color: slategray;
    color: white;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

.cmu tr {
    /*border-bottom: 2px solid mediumblue;*/
}

.cmu ul li span {
    color: mediumblue;
}

.cmu .square,
    /*button#mondomix, */
.cmu a:hover, .cmu a.hovered {
    background-color: mediumblue;
    color: white;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}


.techcrunch tr {
    /*border-bottom: 2px solid darkgreen;*/
}

.techcrunch ul li span {
    color: darkgreen;
}


.venturebeat tr {
    /*border-bottom: 2px solid red;*/
}

.venturebeat ul li span {
    color: red;
}

.venturebeat .square,
    /*button#mondomix, */
.venturebeat a:hover, .venturebeat a.hovered {
    background-color: red;
    color: white;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

.edsurge tr {
    /*border-bottom: 2px solid red;*/
}

.edsurge ul li span {
    color: maroon;
}

.edsurge .square,
    /*button#mondomix, */
.edsurge a:hover, .edsurge a.hovered {
    background-color: maroon;
    color: white;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}



img[src='Error.src']{
    display: none;
}

@media (max-width: 800px) {
	.story_info, .mainpic {
		display: none;
	}

	#allstoriesdiv {
		margin-top: 0;
	}

	.down {
		left: 0;
/*		padding-top: 0;*/
	}

	#duck {
		display: none;
	}
}

@media (max-width: 500px) {

	nav button {
		font-size: 14px;
		width: auto;
	}

	table {
		font-size: 18px;
	}
