@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

html, body {
	font-family: 'Oxygen', sans-serif;
	background-color: #ecf0f1;
	width: 100%;
}

header {
	position: fixed;
	top: 0;
	width: 20%;
	z-index: 10;
	display: block;
	/*background-color: #95a5a6;*/
}

header h1 {
	font-family: 'Lily Script One', sans-serif;
	font-size: 32px;
	padding: 0 0 0 30px;
	color: rgba(0,0,0,0.5);
	display: inline;
	line-height: 2;
	text-align: center;
}

a:visited {
  color:inherit;
  text-decoration: none;
 }


div#mydate, div#mysource {
	color: black;
	display: block;
	text-align: center;
	padding-left: 10%;
	width: 100%;
}



img#logo {
	padding-left: 5%;
	width: 150px;
	height: 60px;
	text-align: center;
	max-width: 100%;
}

/*nav {
	margin-left: 5%;
	padding-top: -20%;
}*/

nav img {
	z-index: 20;
	padding-top: 50px;
	visibility: hidden;
}

/*nav div#buttons {
	float: left;
	top: 300;
}*/

/*header span {
	display: inline;
	font-size: 30px;
	text-align: center;
}*/

article {
	margin-top: 50px;
}

nav {
	font-family: 'Oxygen', sans-serif;
	width: 10%;
	top: 10%;
	left: 2%;
/*	display: block;*/
	position: fixed;
	color: #2c3e50;
	text-align: center;
/*	float: left;*/
}

nav h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
/*	padding: 20px 0 10px 5px;
*/}
/*
nav h4 {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	padding: 20px 0 10px 15px;
	text-align: center;

}*/

nav button {
	border: none;
/*  	background-repeat:no-repeat;
  	background-size: 100% 100%;*/
  	width: 30%;
  	line-height: 1.5;
  	background-color: transparent;
  	margin: 5px 0 5px 5px;
  	display: inline-block;
  	cursor: pointer;
}


/*
nav button#mailandguardian
{
  background-image:url(magsa.jpg);
}*/


nav button {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	width: 110%;
	font-weight: 700;
	cursor: pointer;
	bottom: 20%;
	padding: 0;
	color: gray;

}

nav button.active {
	background-color: red;
	color: white;

}

nav button:hover {
	background-color: gold;

}

.container h1 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	line-height: 1.5;
}

.top {
	width: 100%;
	position: fixed;
	left: 30%;
	z-index: 10;
	display: inline-block;
/*	height: 50px;*/
	/*line-height: 5;*/
}

#mydate h4, #mysource h4{
	color: #2c3e50;
	line-height: 1.5;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	padding-left: 5%;
}

.mainpic {
	float:left;
	width: 90%;
	height: 200px;
	position: fixed;
	display: inline-block;
	overflow: hidden;
}

.mainpic img {
	margin-left: 1px;
	height: 100px;
	/*width: 100px;*/
	opacity: 0.75;
}

.content {
	width: 90%;
	top: 40%;
	float: left;
	position: fixed;
	overflow: scroll;
	height: 60%;
	border-top: 2px dashed white;
}

table {
	text-align: left;
}

thead td {
	padding-left: 10px;
	display: inline-block;
}

thead th {
	font-family: 'Oxygen', sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
}

tbody a, a:visited {
	font-family: 'Oxygen', sans-serif;
	padding-top: 2px;
	line-height: 1.5;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

tbody td {
	font-family: 'Oxygen', sans-serif;
	padding: 2px 10px 0 0;
	line-height: 1.5;
	display: none;
}

tbody span img {
	display: none;
}

tbody th {
	padding-left: 10px;
	line-height: 1.35;
}


span #date {
	display: none;
	line-height: inherit;
	font-size: 28px;
}

tbody th span#id {
	display: none;
}

span .on, .on li {
	display: inline-block;
}

.intext, .source, .all_source, .pic_url {
	display: none;
}

.all_by_a_to_z {
	display: inline;
}
.tag {
	font-size: 10px;
	display: none;
}

.square {
	display: inline-block;
	height: 20px;
    width: 20px;
    top: 1%;
}

div#music {
	padding: 20px 0 20px 40px;
}

img.hovered {
	/*margin: 0 5px 0 5x;
	border-top: 5px solid white;
	border-bottom: 5px solid white;*/
	opacity: 1;
}

/*img.uparrow {
	padding-top: 50px;
	text-align: center;
}

img.downarrow {
	text-align: center;
	transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
}*/

.learnegg tr {
    border-bottom: 2px solid white;
}

.learnegg ul li span {
    color: white;
}

.learnegg .square,
    /*button#mondomix, */
.learnegg a:hover, .learnegg a.hovered {
    background-color: white;
    color: gray;
}

.musically tr {
    border-bottom: 2px solid slategray;
}

.musically ul li span {
    color: slategray;
}

.musically .square,
    /*button#mondomix, */
.musically a:hover, .musically a.hovered {
    background-color: slategray;
    color: white;
}

.cmu tr {
    border-bottom: 2px solid mediumblue;
}

.cmu ul li span {
    color: mediumblue;
}

.cmu .square,
    /*button#mondomix, */
.cmu a:hover, .cmu a.hovered {
    background-color: mediumblue;
    color: white;
}


.techcrunch tr {
    border-bottom: 2px solid darkgreen;
}

.techcrunch ul li span {
    color: darkgreen;
}

.techcrunch .square,
    /*button#mondomix, */
.techcrunch a:hover, .techcrunch a.hovered {
    background-color: darkgreen;
    color: white;
}

.thenextweb tr {
    border-bottom: 2px solid orangered;
}

.thenextweb ul li span {
    color: orangered;
}

.thenextweb .square,
    /*button#mondomix, */
.thenextweb a:hover, .thenextweb a.hovered {
    background-color: orangered;
    color: white;
}

.venturebeat tr {
    border-bottom: 2px solid red;
}

.venturebeat ul li span {
    color: red;
}

.venturebeat .square,
    /*button#mondomix, */
.venturebeat a:hover, .venturebeat a.hovered {
    background-color: red;
    color: white;
}



.all_by_date {
	display: none;
}


.all_by_date h2 {
	display: inline;
}

.source span {
	display: inline-block;
}


/* ISOTOPE ANIMATIONS */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}



.lightbox {
	position: fixed;  /* not position: absolute which is fixed to the initial page load area */
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.8);

	text-align: center; /*get the image in the centre of the page*/

	display: none; /* hide it by default */

}

section.lightbox img {
	height: 600px;
	margin: 20px 0 0 0;

}

section.lightbox #descriptor {

	width: 100%;
	line-height: 60px;

	position: absolute;  /* not position: absolute which is fixed to the initial page load area */
	top: 0;
	left: 0;

	text-align: center;
	font-size: 48px;
	font-weight: 900;

	color: white;
	background: rgba(0, 0, 0, 0.3);

}
