@import url('//fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('//fonts.googleapis.com/css?family=Lora:400,700');


html, body {
	font-family: 'Oxygen', sans-serif;
	background-color: #ecf0f1;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	margin: 0 1% 0 1%;
	overflow-x: hidden;
	overflow-y: scroll;
}

nav {
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	display: inline;
	position: fixed;
	color: #2c3e50;
	text-align: center;
	line-height: 2em;
	background-color: white;
	z-index: 50;
	margin-left: -2%;
/*	float: left;*/
}

#duck {
	background-image: url('duck2.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;	
	min-height: 30px;
	min-width: 30px;
	height: 30px;
	float: right;
	margin: 10px 50px 0 0;
}

nav h1 {
	font-family: 'Lily Script One', sans-serif;
	font-size: 32px;
	color: rgba(0,0,0,0.5);
	float: left;
	margin-left: 10px;
}

nav h1.h1-l {
	text-align: left;
	padding-left: 5%;
}

nav h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
/*	padding: 20px 0 10px 5px;*/
}

/*
nav h4 {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	padding: 20px 0 10px 15px;
	text-align: center;
}*/

nav button, h1 {
	border: none;
/*  	background-repeat:no-repeat;
  	background-size: 100% 100%;*/
  	/*width: 30%;*/
  	/*line-height: 1.5;*/
  	background-color: transparent;
  	margin: 5px 0 5px 5px;
  	display: inline;
  	cursor: pointer;
}

nav button {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	width: 120px;
	font-weight: 700;
	cursor: pointer;
	padding: 0;
	color: gray;
	margin-top: 15px;
}

nav button.active {
	background-color: red;
	color: white;
}

nav button:hover {
	background-color: gold;

}

nav button.tags {
	display: none;
}

.story_info {

	top: 30%;
 	width: 160px;
 	position: fixed;
  	/*line-height: 1.5;*/

  	margin: 5px 0 5px 5px;
  	display: inline-block;
	left: 0;
	color: rgba(0,0,0,0.5);
	font-family: 'Oxygen', sans-serif;
	padding-left: 2%;
	display: none;
}

a:visited {
  color:inherit;
  text-decoration: none;
 }

/*.storyinfo img {
	z-index: 20;
	padding-top: 50px;
	visibility: hidden;
}*/


div#mydate, div#mysource {
	font-size: 18px;
/*	width: 100%;*/
}

img#logo {
/*	width: 5em;
	height: 3em;*/
	text-align: center;
	/*max-width: 100%;*/
}

.down {
	padding-top: 50px;
	/*left: 100px;*/
	position: absolute;
}

#keyword_div {
	margin-right: 2%;
}

#keyword_tags {
	margin: 0 1px 0 1px;
}

#keyword_tags:hover {
	background-color: gold;
	cursor: pointer;
} 

#keyword_tags.active {
	background-color: pink;
}

/*.container {
	top: 10%;
	width: 200%;
	margin-top: 20%;
}*/

.container h1 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	line-height: 1.5;
}

/*.top {
	width: 100%;
	position: fixed;
	left: 30%;

	display: inline-block;
/*	height: 50px;*/
	/*line-height: 5;*/


#mydate h2, #mysource h2{
	color: #2c3e50;
	line-height: 1.5;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

/*.mainpic {
	float:left;
	padding-right: 5%;
	width: 97%;
	height: 200px;
	position: fixed;
	display: inline-block;
	overflow: hidden;
}

.mainpic {
	width: 80%;
	margin-right: 20%;
	height: auto;
	overflow-x: hidden;
}

.picdiv {
	max-width:100px;
	max-height:50px;
	float: left;
	display: inline;
	
}

.mainpic img {
	margin-left: 5px;
	/*height: 100px;*/
	/*width: 100px;
	opacity: 0.75;
	max-width: 100%;
    height: 80px;
    width: auto\9;
}

.mainpic a {
	height: 80px;
	min-height: 100px;
	display: inline-block;
}



.top_stories {
	margin-top: 1%;	
}*/

#keyword_tags {
	margin: 0 2px 0 2px;
}

.top_half {
	position: fixed;
	z-index: 5;
	background-color: #ecf0f1;
	border-bottom: 2px white dashed;
	max-height: 35%;
	overflow: hidden;
}

.content {
	/*top: 40%;*/
	float: left;
	/*position: fixed;*/
	overflow-y: scroll;
	height: 65%;
	border-top: 2px dashed white;
}

table {
	width: 100%;
	text-align: left;
	font-size: 18px;
}

thead td {
	padding-left: 10px;
	display: inline-block;
}

thead th {
	font-family: 'Oxygen', sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
}

tbody a, a:visited {
	font-family: 'Oxygen', sans-serif;
	padding-top: 2px;
	padding-left: 5px;
	/*line-height: 1.5;*/
	text-decoration: none;
	color: rgba(0,0,0,0.6);
	font-weight: 400;
}

tbody td {
	font-family: 'Oxygen', sans-serif;
	padding: 2px 10px 0 0;
	line-height: 1.5;
	display: none;
}

tbody span img {
	display: none;
}

tbody th {
	padding-left: 10px;
	line-height: 1.35;
}


span #date {
	display: none;
	line-height: inherit;
	font-size: 28px;
}

tbody th span#id {
	display: none;
}

span .on, .on li {
	display: inline-block;
}

.intext, .source, .all_source, .pic_url {
	/*display: none;*/
}

.all_by_a_to_z {
	display: inline;
}


.all_by_date {
	display: none;
	width: 100%;
}

.content {
	width: 100%;
}


/*.all_by_date_ h2 {
	display: inline;
}*/

.source span {
	display: inline-block;
}

.tag {
	font-size: 10px;
	display: none;
}

.by_source thead th {
	text-align: center;
}

.square {
	display: inline-block;
	height: 20px;
    width: 20px;
    top: 1%;
}

img.hovered {
	opacity: 1;
}

.row-hover {
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
}



/*/*.edsurge tr {
    /*border-bottom: 2px solid red;*/
/*}

.edsurge ul li span {
    color: maroon;
}

.edsurge .square,
    /*button#mondomix, */
/*.edsurge a:hover, .edsurge a.hovered {
    background-color: maroon;
    color: white;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}*/

img[src='Error.src']{
    display: none;
}

.form {
	padding-top: 200px;
}

.startups {
	position: relative;
	display: inline;
	float: left;
	top: 2.5em;
	margin: 5px 5px 5px 5px;
}


.startup-pic {
	z-index: 1;
}

.startup-title, .startup-strapline {
	position: absolute;
	z-index: 3;
    width: 100%;
    text-align: center;
    top: 2%;
    margin: 5px 5px 5px 5px;
}


.startup-title-background, .startup-strapline-background  {
	width: 100%;
    top: 0;
    min-height: 100%;
	position: absolute;
	z-index: 2;
/*    color: #000;*/
    background-color: #34495e;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=75);
    opacity: 0.75;
}


.startup-title a, .startup-strapline {
	 text-decoration: none;
	 color: white;
}

.startup-title, .startup-title a {
	color: white;
}

.startup-strapline, .startup-strapline-background  {
	top: 50%;
	text-align: center;
	vertical-align: middle;
}

.startup-title {
	font-size: 1em;
	font-weight: bold;
}

.startup-strapline {
	font-size: 0.7em;

	/*background-color: rgba(0,0,0,0.5);*/
}

.startup-text {
	color: white;
	display: none;
}

.startup-pic:hover .startup-text {
	display: block;
} 


.mailer {
	width: 100%;
	text-align: center;
	top: 20%;
	font-size: 24px;
}

.notice {
	position: fixed;
	top: 10%;
	z-index: 10;
}

/*.mailer > tr:nth-of-type(odd) { 
  background: #eee; 
}*/


@media (min-width: 780px) {
	.mobile, #allstoriesdivmobile, .tablet, #allstoriesdivtablet {
		display: none;
	}
}

@media (min-width: 500px) {
	.mobile, #allstoriesdivmobile {
		display: none;
	}
}

@media (max-width: 500px) {
	.mobile, #allstoriesdivmobile {
		display: block;
	}

	.tablet, #allstoriesdivtablet {
		display: none;
	}
}

@media (max-width: 780px) {

	#duck {
		display: none;
	}

	table#desktoptable {
		display: none;
	}

	nav h1 {
		font-size: 4.0vw;
	}

	nav button {
		font-size: 16px;
		width: 15%;
		max-width: 120px;
	}

	article {
		font-family: 'Oxygen', sans-serif;
		text-decoration: none;
		color: rgba(0,0,0,0.8);
		padding: 10px 10px 10px 10px;
	}

	article.big:first-of-type {
		padding: 0 10px 10px 10px;
		border-bottom: none;
	}

	article.big {
		margin-right:20px;
	}

	article.medium {
		min-width: 40%;
		min-height: 200px;
		margin: 0 0 10px 0; 
		border-bottom: 5px solid red;
	}

	article.tablet-left {
		float: left;
	}

	article.tablet-right {
		float: right;
		margin-right:20px;
	}

	article.small {
		min-height: 60px;
		clear: both;
		border-bottom: 2px dotted white;
	}

	article.big img {
		width: 80%;
		height: 45%;
		margin: 5% 10% 0 10%;
		max-width: 400px;
		max-height: 225px;
	}

	article.medium img {
		/*width: 40%;
		height: 22%;*/
		margin: 10px 1% 10px 1%;
		width: 100%;
		height: 130px;
	}

	article.small img {
		float: left;
		height: 10%;
		width: 20%;
		clear: both;
		min-height: 45px;
		min-width: 80px;
		max-height: 60px;
		max-width: 150px;
		vertical-align: middle;
	}


	article.big > div.story-data {
		width: 90%;
		font-size: 18px;
		padding-top: 10px;
	}

	article.medium {
		width: 44%;
	}

	article.medium  > div.story-data  {
		min-height: 100px;
	}

	article.small > div.story-data {
		width: 70%;
		font-size: 16px;
		float: left;
		padding-left: 10px;
		padding-top: 2px;
	}

	article:hover {
		background-color: white;
	}

	.story-modified {
		float: left;
		font-size: 10px;
	}

	.story-source {
		float: right;
		font-size: 10px;
		display: inline;

	}
	.story-title {
		clear: both;
		width: 100%;
	}

	.story-title a {
				text-decoration: none;
				color: inherit;
	}

	.startuppage {
		width: 100%;
		display: inline;
		text-align: center;
	}


	table > img {
		display: none;
	}
}

@media (min-width: 1000px) {
	.startups{
		width: 18%;
	}
}

@media (max-width: 1000px) and (min-width: 800px) {
	.startups {
		width: 23%;
	}
}

@media (max-width: 800px) and (min-width: 600px) {
	.startups {
		width: 31%;
	}
}

@media (max-width: 600px) and (min-width: 400px) {
	.startups {
		width: 48%;
		margin: 1% 1% 1% 1%;
	}
}

@media (max-width: 400px)  {
	.startups {
		width: 95%;
		margin: 1% 1% 1% 1%;
	}
}

@media (max-width: 480px) {
	nav button {
		font-size: 12px;
	}

	nav h1 {
		font-size: 20px;
	}
}

/*ipad landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLES GO HERE */}

/*ipad portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iphone6 landscape*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { /* STYLES GO HERE */}

/*iphone6+ landscape*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { /* STYLES GO HERE */}

/*iphone5 landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { /* STYLES GO HERE */}

/*iphone6 portrait*/	
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iphone6+ portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iphone5 portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iphone2-4 landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { /* STYLES GO HERE */}

/*iphone2-4 portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) { /* STYLES GO HERE */ }
